<div class="navbar">
    <a href="#">first</a>
    <a href="#">second</a>
    <div class="dropdown">
        <button class="btn">dropdown</button>
        <div class="dropdown-item">
            <a href="#">dd</a>
            <a href="#">dd</a>
            <a href="#">dd</a>
        </div>
    </div>
</div>