
@{
    ViewBag.Title = "MealBazar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="heading" style="text-align:center; width:50%">Your Meal Sheet</h2>




<style>


    thead, th, td {
        text-align: center;
    }

    input {
        text-align: center;
    }

    .table-bordered {
        border: 1px solid #000000;
    }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #000000;
        }
</style>


<div style="float:right">
    
</div>

<div class="container" style="width:48%;height:100%;float:left">

    <a href="/MealEvent/ShowPreviousMeal">click</a> here to see full meal sheet<br />
    <a href="/MealEvent/ShowPreviousBazar">click</a> here to see full bazar sheet
    
    <input id="date-corner" style="float:right" placeholder="change" class="form-control" type="date" name="name" value="" />
    <table id="meal" class="table table-bordered">
        <thead>
            <tr>
                <th style="border-bottom:2px solid white">Member Name</th>
                <th colspan="3">Meal</th>
                <th style="border-bottom:2px solid white">Bazar</th>
            </tr>
            <tr>
                <td></td>

                <th>Breakfast</th>
                <th>Launch</th>
                <th>Dinner</th>
                <td></td>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <span id="editButton" class="btn btn-primary" style="float:right; margin-left:2px">Edit</span>
    <button id="saveButton" class="btn btn-primary" style="float:right;">Save</button>
    <strong style="text-align:center">scrol down to see meal Accounts</strong>
</div>

<h2 style="text-align:center">Meal Accounts</h2>
<div class="container" style="width:48%;height:100%;float:right">
    
    <table id="mealRateTable" class="table table-bordered" style="float:none">
        <thead>
            <tr>
                <th id="mealRate">MealRate = 55</th>
            </tr>
        </thead>
    </table>


    <table id="mealBazarTable" class="table table-bordered" style="float:left; width:48%; height:100%; margin-right:4%;">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Total Meal</th>
                <th>Total Bazar</th>
            </tr>
        </thead>
        <tbody id="mBT"></tbody>
    </table>

    <table id="takeGiveTable" class="table table-bordered" style="float:right;width:48%; height:100%;" >
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Will take</th>
                <th>Will give</th>
            </tr>
        </thead>
        <tbody id="tGT"></tbody>
    </table>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var VM = {
                /**
                 * Date
                 * Breakfast
                 * Launch
                 * Dinner
                 * Bazar
                 * Member
                 *
                 * **/
            }

            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '-' +
                (month < 10 ? '0' : '') + month + '-' +
                (day < 10 ? '0' : '') + day;

            var TodaysDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + "/" + d.getFullYear();


            console.log(d);
            console.log(output);

            $("#date-corner").val(output);

            var MealName;
            var member = {
                nameList: [],
                memberList: []
            }
            $.ajax({
                url: "/api/EverydaysMeal?id=getmembers",
                method: "GET",
                async: false,
                success: function (data) {
                    //  console.log(data[0]);
                    //  console.log(data[0].Member.Name);


                    for (var i in data) {
                        member.memberList.push(data[i]);
                        member.nameList.push(data[i].Name);

                    }


                }
            });

            MealName = member.memberList[0].MealEvent.EventName;
            $("#heading").html("Hello " + MealName + ", Here is your meal sheet");

            console.log(member.memberList.length);

            var ALL__LIST = {
                mealList: [],
                bazarList: []
            }

            for (var i = 0; i < member.memberList.length; i++) {
                console.log(i);
                $.ajax({
                    url: "/api/EverydaysMeal?date=" + TodaysDate + "&&id=" + member.memberList[i].Id,
                    nethod: "GET",
                    async: false,
                    success: function (data) {
                        var obj = {

                        }
                        obj.Breakfast = data.Breakfast;
                        obj.Launch = data.Launch;
                        obj.Dinner = data.Dinner;
                        ALL__LIST.mealList.push(obj);
                    }
                });


                $.ajax({
                    url: "/api/Bazar?date=" + TodaysDate + "&&id=" + member.memberList[i].Id,
                    method: "GET",
                    async: false,
                    success: function (data) {
                        var obj = {

                        }
                        obj.Bazar = data.Bazar;
                        ALL__LIST.bazarList.push(obj);
                    }
                });
            }
            console.log(ALL__LIST);

            for (var i = 0; i < ALL__LIST.mealList.length; i++) {
                $("#tbody").append(
                    '<tr class="hello">' +
                    '<td> <label>' + member.nameList[i] + '</label></td>' +
                    '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Breakfast + '" /></td>' +
                    '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Launch + '" /></td>' +
                    '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Dinner + '" /></td>' +
                    '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.bazarList[i].Bazar + '" /></td>' +
                    '</tr>'
                );
            }

            mealAccountInfo();

            var testDate = TodaysDate;
            $("#date-corner").change(function () {

                $(".hello").remove();

                var d = new Date($(this).val());
                console.log(d);

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = d.getFullYear() + '-' +
                    (month < 10 ? '0' : '') + month + '-' +
                    (day < 10 ? '0' : '') + day;

                var TodaysDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + "/" + d.getFullYear();

                var ALL__LIST = {
                    mealList: [],
                    bazarList: []
                }

                for (var i = 0; i < member.memberList.length; i++) {
                    console.log(i);
                    $.ajax({
                        url: "/api/EverydaysMeal?date=" + TodaysDate + "&&id=" + member.memberList[i].Id,
                        nethod: "GET",
                        async: false,
                        success: function (data) {
                            var obj = {

                            }
                            obj.Breakfast = data.Breakfast;
                            obj.Launch = data.Launch;
                            obj.Dinner = data.Dinner;
                            ALL__LIST.mealList.push(obj);
                        }
                    });


                    $.ajax({
                        url: "/api/Bazar?date=" + TodaysDate + "&&id=" + member.memberList[i].Id,
                        method: "GET",
                        async: false,
                        success: function (data) {
                            var obj = {

                            }
                            obj.Bazar = data.Bazar;
                            ALL__LIST.bazarList.push(obj);
                        }
                    });
                }
                console.log(ALL__LIST);

                for (var i = 0; i < ALL__LIST.mealList.length; i++) {
                    $("#tbody").append(
                        '<tr class="hello">' +
                        '<td> <label>' + member.nameList[i] + '</label></td>' +
                        '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Breakfast + '" /></td>' +
                        '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Launch + '" /></td>' +
                        '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.mealList[i].Dinner + '" /></td>' +
                        '<td><input readonly class="form-control anyy any' + i + '" type="number" name="name" value="' + ALL__LIST.bazarList[i].Bazar + '" /></td>' +
                        '</tr>'
                    );
                }

            });

            $(document).on("click", "#editButton", function () {
                $(".anyy").each(function () {
                    $(this).removeAttr("readonly");
                });
            });

            $(document).on("click", "#saveButton", function () {
                for (var i = 0; i < ALL__LIST.mealList.length; i++) {

                    VM.Member = member.memberList[i];
                    VM.Date = $("#date-corner").val();
                    $(".any" + i).each(function (index) {

                        if (index == 0) {
                            VM.Breakfast = $(this).val();
                        }
                        else if (index == 1) {
                            VM.Launch = $(this).val();
                        }
                        else if (index == 2) {
                            VM.Dinner = $(this).val();
                        }
                        else {
                            VM.Bazar = $(this).val();
                        }
                    });
                    $.ajax({
                        url: "/api/MealBazar",
                        method: "POST",
                        async: false,
                        data: VM,
                        success: function () {
                            console.log(VM);
                            VM = {}
                            if (i == ALL__LIST.mealList.length - 1) {
                                toastr.success("successfully recorded");
                                $(".anyy").prop("readonly", true);
                                mealAccountInfo();
                            }
                            //toastr.success("successfully saved");
                        }
                    });
                }
            });

            function mealAccountInfo() {
                $.ajax({
                    url: "/api/MealBazar", 
                    method: "GET", 
                    success: function (data) {
                        $("#mBT").children().remove();
                        console.log(data);
                        var member_bazar = data.Member_Bazars;
                        var member_meal = data.Member_Meals;
                        var total_meal = 0, total_bazar = 0; 
                        for (var i = 0; i < member_bazar.length; i++) {
                            total_bazar += member_bazar[i].TotalBazar;
                            total_meal += member_meal[i].TotalMeal;
                            $("#mBT").append(
                                '<tr>' +
                                '<td>' + member_meal[i].Member.Name + '</td>' + 
                                '<td>' + member_meal[i].TotalMeal + '</td>' + 
                                '<td>' + member_bazar[i].TotalBazar + ' TK</td>' +
                                '</tr>'
                            );

                        }
                        $("#mBT").append(
                            '<tr>' +
                            '<td></td>' +
                            '<td>Total ' + total_meal + '</td>' +
                            '<td>Total ' + total_bazar + ' TK</td>' +
                            '</tr>'
                        );

                        var mealRate = total_bazar / total_meal; 

                        $("#mealRate").html("Meal Rate = " + mealRate);

                    }
                });
            }

        });
    </script>
}